/*FORM*/
.users form{
    margin-bottom: 3rem;
}

/*ROW*/
.users form .row{
    width: 100%;
    display: grid;
    /* flex-wrap: wrap; */
}

.users form .row:nth-child(1){
    grid-template-columns:1fr 1fr;
    column-gap: 2rem;
    justify-content: space-between;
}

.users form .row + .row{
    margin-top: 2rem;
}

/*FORM-GROUP*/
.users form .row .form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.users form .row .form-group label{
    margin-bottom: .5rem;
    font-size: clamp(1.5rem, 4vw, 2.2rem);
    font-weight: 400;
}

.users form .row .form-group input{
    width: 100%;
    height: 5vh;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    transition: border .2s ease-in;
}

.users form .row .form-group input::-webkit-input-placeholder{
   font-size: clamp(1rem, 1vw, 1.2rem);
   font-style: italic;
}

.users form .row .form-group input:focus{
    border: 1px solid  rgb(57, 150, 243);
}

/* BUTTON GROUP*/

.users form .row .button-group{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.users form .row .button-group .btn-cancel{
   margin-left: 1.6rem;
    background-color: grey;
}

/*TABLE*/

table{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: none;
}

table th,
table td{
    text-align: left;
    vertical-align: middle;
    padding: .8rem 1.5rem;
    line-height: 2rem;
    border-top: 1px solid #ddd;
}

table thead th{
    background-color: #eee;
    vertical-align: bottom;
}

table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th{
    background-color: #fafafa;
}

table .t-small{
    width: 5%;
}

table .t-medium{
    width: 15%;
}

table .t-large{
    width: 35%;
}

table tbody{
    width: 100%;
     font-size: clamp(1rem, 1.5vw, 1.5rem);;
}


@media (max-width:480px) {

    .users form .row:nth-child(1){
        grid-template-columns: 1fr;
    }

    table tbody tr td:not(:first-child){
        display: block;
    }

    table tbody tr td{
        border: 0;
        padding: .2rem 1.5rem;
    }

    table thead{
        display: none;
    }
}