header.header{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-areas: "logo menu";

    background-color: var(--bg-dark);
    box-shadow: var(--shadow);
}

header .logo{
    grid-area: logo;
}

header .menu{
    grid-area: menu;
}