.menu-toggle{
    cursor: pointer;
    display: none;
}

.menu-toggle .line{
    position: relative;
    width: 3rem;
    height: .2rem;
    margin: 1.5rem 0 ;
    border-radius: 4px;
    background-color: #FFF;
    transition: transform .5s ease-in-out;
}

.menu-toggle .line::after,
.menu-toggle .line::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    transition: transform .5s ease-in-out;
}

.menu-toggle .line::before{
    top: -1rem;
}

.menu-toggle .line::after{
    bottom: -1rem;
}

.menu-toggle.active .line::before{
    transform: rotate(90deg);
    top: 0;
}

.menu-toggle.active .line::after{
    transform: rotate(90deg);
    bottom: 0;
}

.menu-toggle.active .line{
    transform: rotate(45deg);
}