/* .menu{
    height: 100%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: center;
     padding: 0 20%;
 } */

.menu ul{
    /* height: 100%; */
    display: flex;
}