.menu-item{
    position: relative;
    height: 100%;
    text-decoration: none;
    font-size: clamp(2.2rem, 3vw, 2.5rem);
    font-weight: 600;
    color: #FFF;
}



.menu-item::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    background-color: royalblue;
    transition: all .3s ease-in-out;
}

.menu-item:hover::after{
    width: 100%;
}