:root{
  --bg-dark: #333;

  --header-height:8rem;
  --footer-height: 4rem;

  --shadow:0 2px 13px 0 rgba(0, 0, 0, 0.1),
           0 2px 19px 0 rgba(0, 0, 0, 0.6);
}

.app{
  position: relative;
  display: grid;
  grid-template-rows: var(--header-height)
                      1fr
                      var(--footer-height);
  grid-template-areas: "header"
                       "content"
                       "footer";
                       width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

aside.logo{
  grid-area: logo;
}
header.header{
  grid-area: header;
}

footer.footer{
  grid-area: footer;
}

